{% extends "layout.html" %}
{% block content %}

  <div class="content">

    <h1>{{ book.title }} by {{ book.author.first_name }}&nbsp{{ book.author.last_name}}</h1>
    <center><img src = "{{ url_for('static', filename='img/' + book.image_file) }}"></center>
    <h4>Price: £{{ book.price }}</h4>

    {% if current_user.is_authenticated %}
    <a href="/add_to_cart/{{book.id}}"><input type="Submit" Value="Add to Cart"></a>
    <a href="/add_to_wishlist/{{book.id}}"><input type="Submit" Value="Add to Wishlist"></a>
    {% else %}
    {% endif %}
    <br>
    <br>
    <p class="center">{{book.description}}</p>


  </div>

{% endblock content %}
