{% extends "layout.html" %}
{% block content %}

<h1>Enter credit card details:</h1>
		
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="">
    {{ form.cardName.label }} {{ form.cardName }}
    {% for error in form.cardName.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="">
    {{ form.cardNumber.label }} {{ form.cardNumber}}
    {% for error in form.cardNumber.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="">
    {{ form.expiryMonth.label }} {{ form.expiryMonth}}
    {% for error in form.expiryMonth.errors %}
    <span style="color: green;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="">
    {{ form.expiryYear.label }} {{ form.expiryYear}}
    {% for error in form.expiryYear.errors %}
    <span style="color: green;">[{{ error }}]</span>
    {% endfor %}
  </div>
   <div class="">
    {{ form.CVV.label }} {{ form.CVV}}
    {% for error in form.CVV.errors %}
    <span style="color: green;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div>
    <h3>Here's how to find your CVV</h3>
    <p>Click on image to zoom in</p>
    <a href="https://qph.fs.quoracdn.net/main-qimg-bd6b7e786c2fdb670c89c6ded8fcb973-c"><img src="https://qph.fs.quoracdn.net/main-qimg-bd6b7e786c2fdb670c89c6ded8fcb973-c" width="=100" height="100"></a>
    <p></p>
  </div>
  <div class="">
    {{ form.submit() }}
  </div>
</form>

{% endblock content %}