<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 60 ,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};
</script>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Team 28 DQS</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li class="right"><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
        <li class="right"><a href="{{ url_for('register') }}">Register</a></li>
        <li class="right"><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>

    <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
