{% extends "layout.html" %}
{% block content %}

	<form method='POST' action="/home">
	<h2>Sort by:</h2>
	<select name='sbp'>
	  <option value="PAsc">Price Ascending</option>
	  <option value="PDsc">Price Descending</option>
	  <option value="Afn">Author First name</option>
	  <option value="Asn">Author Second name</option>
	  <option value="Ais">Amount in stock ascending</option>
	</select>
	<input type="submit" value="Submit">
	</form>
	{% for book in books %}
	{% if books == "" %}
	<h1>Your query yielded no results</h1>
	{% else %}
	<table border="1" style="float: left">  
  	<tr>
  		<th height="100" width="100"><a href="{{ url_for('book', book_id=book.id) }}">"{{ book.title }}" &nbsp Author: {{ book.author.first_name }}&nbsp{{ book.author.last_name}}</a></th>
  	</tr>
  	<tr>
  		<td>
  			<a href="{{ url_for('book', book_id=book.id) }}"><img src = "{{ book.image_file }}" width="300" height="350" align="center"></a>
  		</td>
  	</tr>
  	<tr>
  		<td>Price: £{{ book.price }}</td>
  	</tr>
  	<tr>
  		<td>Amount in stock: {{ book.stock_level }}</td>
  	</tr>
  	</table>
  	{% endif %}
	{% endfor %}


{% endblock content %}
