{% extends "layout.html" %}
{% block content %}

<div class="content">

  <h1>{{testName}}</h1>
  
  <h1><div>Time until test end: <span id="time">60:00</span> minutes!</div></h1>

  <form method="POST" action="/feedback">
    <table style="float:left;">
      {% for x,c,i in zip(test.keys(), test.values(), range(numbertest)) %}
      	<tr>
          <th>Question: {{x}}?</th>
        </tr>
        <tr>
            <td class="{{i}}"><p>{{c[0]}}</p>
              <label class="container"> 
                <input type="radio" name="{{i}}" value="{{c[0]}}">
                <span class="checkmark"></span>
              </label>
            </td>
            <td class="{{i}}"> <p>{{c[1][0]}}</p>
              <label class="container">
                <input type="radio" name="{{i}}" value="{{c[1][0]}}">
                <span class="checkmark"></span>
              </label>
            </td>
        </tr>
        <tr >
            <td class="{{i}}"> <p>{{c[1][1]}}</p>
              <label class="container">
                <input type="radio" name="{{i}}" value="{{c[1][1]}}">
                <span class="checkmark"></span>
              </label>
            </td>
            <td class="{{i}}"> <p>{{c[1][2]}}</p>
              <label class="container">
                <input type="radio" name="{{i}}" value="{{c[1][2]}}">
                <span class="checkmark"></span>
              </label>
            </td>
        </tr>
      {% endfor %}
    </table>

<script type="text/javascript">
randomizeContent("0")
randomizeContent("1")
randomizeContent("2")
randomizeContent("3")
randomizeContent("4")
randomizeContent("5")
randomizeContent("6")
randomizeContent("7")
randomizeContent("8")
randomizeContent("9")

</script>
    <br>
    <input type="submit" name="testSubmit" value="Submit Test">
  </form>

</div>

{% endblock content %}
