{% extends "layout.html" %}
{% block content %}

<div class="content">

  <h2>Test</h2>

  <form method="POST" action="">
    {{ form.csrf_token }}
    <div class="">
      {{ form.question1.label }}
      <br>
    <label class="container">One
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">Two
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">Three
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">Four
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    </div>
    <div class="">
      {{ form.question2.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question3.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question4.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question5.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question5.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question6.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question7.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question8.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question9.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="">
      {{ form.question10.label }}
      <br>
      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
    </div>
      <br>
    <div class="">
      {{ form.submit() }}
    </div>
  </form>
</div>

{% endblock content %}
