body {
  font-family:helvetica, sans-serif;
  background-color: lightblue;
  display: inline-block;
}

h1 {
  padding-left: 20px;
  font-family:sans-serif;
  color:black;
}

a {
  text-decoration:none;
  color:#000099;
  /*color:#104e77;*/  
}

a:hover {
  /*color:#77b6e2;*/
  color:#0cc3300;
}

